/* Variables */
$profile-header-color: #fff;
$profile-title-color: #000;
$profile-text-shadow-color: #000;
$toolbar-border-color: #181818;

/* Styles */
html, body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

.profile-header {
  background-image: url("../images/pokeball-back2.jpg");
  background-size:100%;
}

.profile-header h2, .profile-header h3 {
  color: $profile-header-color;
  text-shadow: 2px 2px 3px $profile-text-shadow-color;
}

.top-app-bar {
  border-bottom: solid 5px $toolbar-border-color;
}