/* Variables */
$profile-header-color: #fff;
$profile-title-color: black;

/* Styles */
html, body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

.profile-header {
  background-image: url("pokeball-back2.jpg");
  background-size:100%;
}

.profile-header h2 {
  color: $profile-header-color;
  text-shadow: 2px 2px 3px black;
}

.profile-header h3 {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.top-app-bar {
  border-bottom: solid 5px #181818;
}